.container{
  margin: 0px;
  display: flex;
  flex-direction:column;
  flex: 1;
  &_card{
    background-image: url('../../assets/Pokeball.svg');
    background-position: 97% 5%;
    background-blend-mode: screen;
    background-size: 35%;
  }
}
