@import '../../theme/colors.scss';

.card{
  &_container{
    margin: 0px;
    display: flex;
    flex-direction:column;
    flex: 1;
    background-position: 97% 5%;
    background-blend-mode: screen;
    background-size: 35%;
    background-image: url('../../assets/Pokeball.svg');
    padding: 2%;
  }
  &_info{
    padding-top: 60px;
    background-color: $white;
    border-radius: 8px;
  }
  &_types{
    display: flex;
    place-content: center;
  }
}
