// TYPES
$rock-color:#B69E31;
$ghost-color:#70559B;
$steel-color:#B7B9D0;
$water-color:#6493EB;
$grass-color:#74CB48;
$psychic-color:#FB5584;
$ice-color:#9AD6DF;
$dark-color:#75574C;
$fairy-color:#E69EAC;
$normal-color:#AAA67F;
$fighting-color:#C12239;
$flying-color:#A891EC;
$poison-color:#A43E9E;
$ground-color:#DEC16B;
$bug-color:#A7B723;
$fire-color:#F57D31;
$eletric-color:#F9CF30;
$dragon-color:#7037FF;

// grayScale
$dark-gray:#212121;
$medium-gray:#666666;
$light-gray:#E0E0E0;
$white:#FFFFFF;
$backgound:#F7F7F7;


// MIXINS
@mixin types {
  .type-rock{
    background-color: $rock-color;
  }
  .type-ghost{
    background-color: $ghost-color;
  }
  .type-steel{
    background-color: $steel-color;
  }
  .type-water{
    background-color: $water-color;
  }
  .type-grass{
    background-color: $grass-color;
  }
  .type-psychic{
    background-color: $psychic-color;
  }
  .type-ice{
    background-color: $ice-color;
  }
  .type-dark{
    background-color: $dark-color;
  }
  .type-fairy{
    background-color: $fairy-color;
  }
  .type-normal{
    background-color: $normal-color;
  }
  .type-fighting{
    background-color: $fighting-color;
  }
  .type-flying{
    background-color: $flying-color;
  }
  .type-poison{
    background-color: $poison-color;
  }
  .type-ground{
    background-color: $ground-color;
  }
  .type-bug{
    background-color: $bug-color;
  }
  .type-fire{
    background-color: $fire-color;
  }
  .type-electric{
    background-color: $eletric-color;
  }
  .type-dragon{
    background-color: $dragon-color;
  }
}
@mixin border4type {
  .bd-rock{
    border-color: $rock-color;
  }
  .bd-ghost{
    border-color: $ghost-color;
  }
  .bd-steel{
    border-color: $steel-color;
  }
  .bd-water{
    border-color: $water-color;
  }
  .bd-grass{
    border-color: $grass-color;
  }
  .bd-psychic{
    border-color: $psychic-color;
  }
  .bd-ice{
    border-color: $ice-color;
  }
  .bd-dark{
    border-color: $dark-color;
  }
  .bd-fairy{
    border-color: $fairy-color;
  }
  .bd-normal{
    border-color: $normal-color;
  }
  .bd-fighting{
    border-color: $fighting-color;
  }
  .bd-flying{
    border-color: $flying-color;
  }
  .bd-poison{
    border-color: $poison-color;
  }
  .bd-ground{
    border-color: $ground-color;
  }
  .bd-bug{
    border-color: $bug-color;
  }
  .bd-fire{
    border-color: $fire-color;
  }
  .bd-electric{
    border-color: $eletric-color;
  }
  .bd-dragon{
    border-color: $dragon-color;
  }
}
@mixin color4type {
  .color-rock{
    color: $rock-color;
  }
  .color-ghost{
    color: $ghost-color;
  }
  .color-steel{
    color: $steel-color;
  }
  .color-water{
    color: $water-color;
  }
  .color-grass{
    color: $grass-color;
  }
  .color-psychic{
    color: $psychic-color;
  }
  .color-ice{
    color: $ice-color;
  }
  .color-dark{
    color: $dark-color;
  }
  .color-fairy{
    color: $fairy-color;
  }
  .color-normal{
    color: $normal-color;
  }
  .color-fighting{
    color: $fighting-color;
  }
  .color-flying{
    color: $flying-color;
  }
  .color-poison{
    color: $poison-color;
  }
  .color-ground{
    color: $ground-color;
  }
  .color-bug{
    color: $bug-color;
  }
  .color-fire{
    color: $fire-color;
  }
  .color-electric{
    color: $eletric-color;
  }
  .color-dragon{
    color: $dragon-color;
  }
}
