@import './typography.scss';
@import './colors.scss';
@import "sanitize.css";
html{
  font-weight: 400;
  background-color: $backgound;
  font-family: 'Poppins', sans-serif;
}
.AppContainer{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 720px;
}
@include Typography;
