@import '../../theme/colors.scss';

.details {
  text-align: center;
  display: flex;
  flex: 1;
  min-height: 100vh;
  &_card{
    background-color: $white;
  }
  &_pagination{
    @media screen and (min-width: 0px) {
        display: flex;
        position: absolute;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        left: 0px;
        right: 0px;
        top: 20%;
        z-index: 1;
        filter: invert(1);
    }
    @media screen and (min-width: 768px) {
      top: 50%;
      width: 90%;
  }
    &_arrows{
      width: 48px;
      padding: 5px;
      img{
        width: 100%;
      }
    }
      }

  .transform{
    transform: rotate(180deg);
  }
}
