@import '../../theme/colors.scss';


.pokebox{
  width: 27%;
  // height: 164px;
  margin: 8px;
  border: 2px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  &-ndex{
    text-align: right;
    padding: 4px 8px;
    p{
      margin: 0px;
    }
  }
  &-img{
    width: 60%;
    margin: auto;
  }
  &-name{
    padding: 8px;
    p{
      margin: 0px;
      color: $white;
    };
  }
}
@include types;
@include border4type;
@include color4type;
