@import '../../theme/colors.scss';


.pokebox{
  width: 27%;
  // height: 164px;
  margin: 8px;
  border: 2px solid;
  border-radius: 8px;
  &-name{
    padding: 8px;
    p{
      margin: 0px
    };
  }
}
@include types;
@include border4type;
