@import '../../theme/colors.scss';
@import '../../theme/typography.scss';

.pokebox{
  margin: 8px;
  border: 2px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  &-ndex{
    text-align: right;
    padding: 4px 8px;
    p{
      @media screen and (min-width: 0px) {
        margin: 0px;
        font-size: $size-8;
      }
      @media screen and (min-width: 425px) {
        margin: 0px;
        font-size: $size-12;
      }
    }
  }
  &-img{
    width: 60%;
    margin: auto;
  }
  &-name{
    @media screen and (min-width: 0px) {
      padding: 4px;
      p{
        margin: 0px;
        color: $white;
        font-size: $size-10;
        text-transform: capitalize;
      }
    }
    @media screen and (min-width: 425px) {
      padding: 8px;
      p{
        font-size: $size-12;
      }
    }
    @media screen and (min-width:768px) {
      p{
        font-size: $size-16;
      }
    }
  }
}
@include types;
@include border4type;
@include color4type;
