@import '../../theme/colors.scss';
.hearder{
  &_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
    align-items: center;
  }
  &_title{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  &_logo{
    width: 50px;
  }
  &_search{
    width: 90%;
    border-radius: 8px;
    border: 0px solid $medium-gray;
    box-shadow: inset 0px 0px 0px 1px $medium-gray;
    height: 36px;
    text-align: center;
    max-width: 768px;
  }
}

.classification{
  &_text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-right: 5px;
  }

  &_button{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
  }

}
